body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Bevan:ital@1&family=Plus+Jakarta+Sans:wght@200&display=swap');
body{
    margin: 0;
}
.container{
    width: 100%;
    height: auto;
    margin-top: 0;
    background-color:black;


}
header{
    width: 100%;
    height: 100px;
    background-color: black;
    float: left;


}
.logo img{
    width: 5%;
    height: auto;
    margin-top: 25px;
    margin-left: 100px; 
}
.menu{
    width: 100%;
    height: auto;
    float: right;
}
.menu ul{
    float: right;
    margin-right:150px ;
    margin-top: auto; 

}
.menu ul li{
  display: inline-block;
} 
.menu ul li a{
    color: white;
    font-size: 25px;
   font-family: 'Plus Jakarta Sans', sans-serif;
   text-decoration: none;
   padding: 0px 30px; 

}
.menu ul li a:hover{
  border-bottom: 2px solid white ;

}
.menu ul li .active{
    color: white;
}

.home-container{
    background-image: url(images/Frame\ 35.svg);
    width: 100%;
    height: 130vh;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    margin-top: 0;
    
}
.home-img{
    display: flex;
   
}
.home-img img{
    width: 100%;
}
.content{
    font-size: 1.5rem;
    float: right;
    margin-right: 8rem;
    margin-top: 28%;
}
.content h4{
    display: flex;
    margin-top: -0rem;
}
.content h1{
    display: flex;
    font-size: 2.5rem;
    margin-top: -1rem;
    line-height: 3.5rem;
}
button{
    display: flex;
    width: 40%;
    height: 60px;
    margin-top: 5%;
    margin-left: 1.5%;
}
.btn{
    background-color: #e7e7e7;
    padding: 12px 55px;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    border-radius: 30px;
    border: 2px solid #e7e7e7;
}
.btn:hover{
    background-color: aqua;
    color: white;
}
.content{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    margin-left: 10%;
}

swiper-container {
  width: 100%;
  height: 50vh;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

swiper-container {
  width: 90%;
  height: 650px;
  margin: 5rem;
}
.bloo{
    flex: 1;
    height: auto;
    overflow: hidden;
    padding: 20px;
    
    
    }
    .bloo1{
        width: 100%;
        height: auto;
    
    }
    
    
    .bloo1 img{
        width: 95%;
        height: 95%;
        object-fit: cover;
        margin-left:5%;
    
    }
    .bloo1 img:hover{
        scale:103%;
        transition: 0.3s;
        cursor: pointer;
    
    }
    .bloo2{
        margin-top: -2%;
        width: 100%;
        height: auto;
        margin-left: -7.5rem;
    }
    .bloo3{
    margin-top: -5%;
    width:100%;
    height:auto;
    justify-content: space-between;
    line-height: 70px;
    display: flex;
    }
    .bloo3-1{
        font-size: 32px;
        color: black;
        text-align: left;
        margin-left: 4%;
        margin-top: -5%;
    
    }
    .bloo3-2{
        font-size: 2rem; font-weight: lighter;
        color: black;
        text-align: right;
        margin-right: 4%;
        margin-top: -5%;
    }
    .text{
        display: inline-block;
        position: relative;
    
    }
    .stripe{
        position: absolute;
        bottom: 45%;
        left: 0;
        width: 102%;
        height: 4px;
        background-color: black; 
    }
    